body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    background: #264de7;
    background: radial-gradient(at right top, #031A72, #5880E8);
}

/* Navbar style */
header {
    background-color: #27d8df;
    padding: 20px;
    height: 30px;
    width: 99%;
    position: fixed;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: inline-end;
}

nav ul li a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding: 15px 20px;
}


nav ul li a:hover {
    text-shadow: 2px 2px 2px rgb(52, 30, 180);
    font-weight: 900;
    color: white;
    box-shadow: 0px 3px 2px white;
    background-color: rgb(119, 172, 216);
    border-radius: 20px;
}

.introPP {
    height: 70px;
    display: flex;
    float: inline-start;
    position: relative;
    bottom: 20px;
}

.introPP img {
    border-radius: 50px;
    background-color: aquamarine;
    overflow: hidden;
}

.introPP h4 {
    margin-left: 6px;
    font-size: 25px;
}


/* Body style */

section {
    padding: 40px;
}


.bodyContainer {
    position: relative;
    top: 70px;
    
}

#home {
    display: flex;
    justify-content: space-between;
}

#home .introduction {
    float: right;
    width: 500px;
    float: inline-end;
}

#home .picture {
    float: inline-start;
}

#about {
    display: flex;
    justify-content: space-around;
}

#about .details {
    float: right;
    width: 50%;
    float: inline-end;
}

#about .picture img {
    height: 400px;
}

#skills{
    height: 35em;
}

.skillsCard {
    display: flex;
    justify-content: space-around;
    height: 27em;
    overflow: hidden;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 26em;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    border-radius: 10%;
    overflow: hidden;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
    border-radius: 20%;
}

.flip-box-back {
    background-color: #555;
    color: white;
    transform: rotateY(180deg);
}



#projects {
    display: flex;
    justify-content: space-around;
}

#contact {
    display: flex;
    justify-content: space-around;
}

/* End of body style */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}